<!DOCTYPE html>
<html lang="en">

<head>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Departments List</title>
</head>

<body>
    <div style="width: 80%; margin: auto; margin-top: 3%">
        <h1 style="
          text-align: center;
          color: #ef3bd1;
          text-shadow: 5px 5px 5px #00d4ff;
        ">
            Departments List
        </h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Department</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Workday</th>
                </tr>
            </thead>
            <tbody>
                {% for elemento in listD %}
                <tr>
                    <th scope="row">{{elemento.id}}</th>
                    <td>{{elemento.department}}</td>
                    <td>{{elemento.salary}}</td>
                    <td>{{elemento.wday}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>